## SMTP settings (example)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=kuizveb@gmail.com
SMTP_PASS="gimz dcxo mxjv kids"

## Mail routing
MAIL_FROM="FensterPro <kuizveb@gmail.com>"
MAIL_TO=kuizveb@gmail.com

## Server
PORT=8787
